{% extends 'base.html.twig' %}

{% block body %}

    <h1>Lista de analisis</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Aciones</th>
            </tr>
        </thead>
        <tbody>
        {% for analisi in analisis %}
            <tr>
                <td><a href="{{ path('analisi_show', { 'id': analisi.id }) }}">{{ analisi.id }}</a></td>
                <td>{{ analisi.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('analisi_show', { 'id': analisi.id }) }}" class="hollow button"><i class="far fa-eye"></i>Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('analisi_edit', { 'id': analisi.id }) }}" class="hollow button"><i class="fas fa-edit"></i>Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('analisi_new') }}" class="button">Crear un nuevo analisis</a>
{% endblock %}
