{% extends 'base.html.twig' %}

{% block body %}
    <h1>Analisis</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ analisi.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ analisi.name }}</td>
            </tr>
        </tbody>
    </table>
            <a href="{{ path('analisi_index') }}" class="button">Regresar a la lista</a>
            <a href="{{ path('analisi_edit', { 'id': analisi.id }) }}" class="hollow button warning">editar</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="hollow button alert">
            {{ form_end(delete_form) }}
{% endblock %}
