{% extends 'base.html.twig' %}

{% block body %}
<div class="grid-container">
    

    <h1>Lista de pacientes</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Años</th>
                <th>Numero de tlf</th>
                <th>Identificacion</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for paciente in pacientes %}
            <tr>
                <td><a href="{{ path('paciente_show', { 'id': paciente.id }) }}">{{ paciente.id }}</a></td>
                <td>{{ paciente.name }}</td>
                <td>{{ paciente.lastName }}</td>
                <td>{{ paciente.age }}</td>
                <td>{{ paciente.idNumber }}</td>
                <td>{{ paciente.idType }}</td>
                <td>{{ paciente.observation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('paciente_show', { 'id': paciente.id }) }}" class="hollow button"><i class="far fa-eye"></i>Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('paciente_edit', { 'id': paciente.id }) }}" class="hollow button"><i class="fas fa-edit"></i>Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('paciente_new') }}" class="button">Crear nuevo paciente</a>
</div>
{% endblock %}
