{% extends 'base.html.twig' %}

{% block body %}
<div class="grid-container">
    <h1>Paciente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paciente.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ paciente.name }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ paciente.lastName }}</td>
            </tr>
            <tr>
                <th>Años</th>
                <td>{{ paciente.age }}</td>
            </tr>
            <tr>
                <th>Numero de telefono</th>
                <td>{{ paciente.idNumber }}</td>
            </tr>
            <tr>
                <th>Tipo de documentacion</th>
                <td>{{ paciente.idType }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ paciente.observation }}</td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('paciente_index') }}" class="button">Volver a la lista</a>
            <a href="{{ path('paciente_edit', { 'id': paciente.id }) }}" class="hollow button warning">Editar</a>

            {{ form_start(delete_form) }}
                <input type="submit" class="hollow button alert" value="Borrrar">
            {{ form_end(delete_form) }}


</div>
{% endblock %}
